<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} · {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/syntax.css' | relative_url }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💻</text></svg>">

  </head>
  <body>
    {% include scripts.html %}
    <nav>
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/publications/' | relative_url }}">Publications</a>
    </nav>
    <main>{{ content }}</main>
  </body>
</html>
